name: Check for new Instagram posts (yangwoo buffet launch) > for hamba chat room

on:
  schedule:
      # 한국 시간 월~목 09:45 -> UTC 월~목 00:45
    - cron: '45 0 * * 1-4'
  workflow_dispatch:

jobs:
  check_posts_room_2:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run script
        env:
          TARGET_INSTAGRAM_ID: ${{ secrets.TARGET_INSTAGRAM_ID }}
          KAKAOWORK_WEBHOOK_URL: ${{ secrets.KAKAOWORK_WEBHOOK_URL_2 }}
        run: python main.py --room 2
